<%# @taks.each do |tak| %>
  <%# tak["title"] %>
<%# end %>
<div class="container">
  <h1 class="text-center">Lista de Tareas</h1>
  <br>
  <div class="row">
    <div class="col-sm-11">
      <form class="form-inline">
        <div class="input-group col-sm-6 ml-auto">
          <input type="text" class="form-control" placeholder="Nombre de la Tarea">
        </div>
        <div class="input-group col-sm-3">
          <button type="submit" class="btn btn-primary">Confirm identity</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-3 cuadrado"></div>
      <div class="col-sm-3 cuadrado"></div>
      <div class="col-sm-3 cuadrado"></div>
      <div class="col-sm-3 cuadrado"></div>
  </div>
</div>
