<div class="container">
  <div class="alert alert-success text-center mensaje" style="display: none"></div>
  <h1 class="text-center">Lista de Tareas</h1>
  <br>
  <div class="row">
    <div class="col-sm-11">
      <form action="/taks" method="post" class="form-inline" id="form-1">
        <div class="input-group col-sm-6 ml-auto">
          <input type="text" name="title" class="form-control" placeholder="Nombre de la Tarea" required>
        </div>
        <div class="input-group col-sm-3">
          <button type="submit" class="btn btn-primary">Guardar Tarea</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row" id="taks-load">
    <% @taks.each do |tak| %>
      <%= erb :"_taks", layout: false, locals: {new_taks: tak} %>
    <% end %>
  </div>
</div>
